#toolpanel {
    -fx-background-color: white; 
    -fx-border-color: #f3f3f3;
}
#appmenu {
    -fx-background-color: white;
}
#scrollarea {
    -fx-background-color: #f3f3f3;
}
#statusbar {
    -fx-background-color: #f3f3f3;
}
.toolbutton {
    -fx-background-color: #eeeeee;
}
.toolbutton:selected, .toolbutton:selected:hover {
    -fx-background-color: #c8c8c8;
}
.formatbutton {
    -fx-background-color: white;
}
.menubutton {
    -fx-background-color: #ddf2ff;
}
.menuitem {
    -fx-background-color: white;
    -fx-padding: 8 5 8 5;
    -fx-font-family: "San Francisco", "Segoe UI Regular", Tahoma, sans-serif;
}
.menuicon {
    -fx-background-color: white;
}
.menubutton:hover, menuitem:hover, menuicon:hover {
    -fx-background-color: #d0e4f0;
}
.togglebuttons {
    -fx-background-color: white;
}
.togglebuttons:selected, .togglebuttons:selected:hover {
    -fx-background-color: 
        linear-gradient(to top, rgb(195.0, 195.0, 195.0), rgb(125.0, 125.0, 125.0));
}
.tool-bar {
    -fx-background-color: #ddf2ff;
}
.combo-box-base {
    -fx-background-color: white;
    -fx-padding: 0.0835em; /* 2 */
    -fx-height: 1.35em;
}
.combo-box-base:hover {
    -fx-background-color: white;
}
.combo-box-base .arrow-button {
    -fx-background-color: #eeeeee;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #4860e0;
    -fx-text-fill: white;
}
.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #ddf2ff;
    -fx-text-fill: black;
}
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #4860e0;
    -fx-text-fill: white;
}
.color-picker, .color-picker:focused, .color-picker:selected {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.color-picker > .color-picker-label > .picker-color > .picker-color-rect {
    -fx-stroke: none;
}
.combo-box-popup .list-view, .color-palette, .custom-color-dialog {
    -fx-background-color: #fcfcfc;
    -fx-border-color: #f3f3f3;
}
#buttnewcanvas {
    -fx-background-image: url('../images/new-canvas.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttopenin {
    -fx-background-image: url('../images/open-in.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttsaveto {
    -fx-background-image: url('../images/save-to.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttselect {
    -fx-background-image: url('../images/select.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttrotate {
    -fx-background-image: url('../images/rotate.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttslope {
    -fx-background-image: url('../images/slope.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttcircle {
    -fx-background-image: url('../images/circle.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttsquare {
    -fx-background-image: url('../images/square.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#butttriangle {
    -fx-background-image: url('../images/triangle.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttpolygon {
    -fx-background-image: url('../images/polygon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttsketch {
    -fx-background-image: url('../images/sketch.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#butttext {
    -fx-background-image: url('../images/text.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#butthamburger {
    -fx-background-image: url('../images/menu.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttbold {
    -fx-background-image: url('../images/bold.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttitalic {
    -fx-background-image: url('../images/italic.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttunderlined {
    -fx-background-image: url('../images/underlined.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttvertical {
    -fx-background-image: url('../images/perpendicular.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttwireframe {
    -fx-background-image: url('../images/wireframe.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttsnapshot {
    -fx-background-image: url('../images/snapshot.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttsaveas {
    -fx-background-image: url('../images/save-as.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttsvgexport {
    -fx-background-image: url('../images/export-options-1.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttpdfexport {
    -fx-background-image: url('../images/export-options-2.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttpngexport {
    -fx-background-image: url('../images/export-options-3.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttquitapp {
    -fx-background-image: url('../images/power.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
