/**
 * Light theme application styles
 */

#toolpanel {
    -fx-background-color: #fefefe;
    -fx-border-color: #f3f3f3;
}
#appmenu {
    -fx-background-color: #fefefe;
}
#scrollarea {
    -fx-background-color: #f3f3f3;
}
#statusbar {
    -fx-background-color: #f3f3f3;
}
#buttpanel {
    -fx-background-color: #fefefe;
    -fx-border-color: #f3f3f3;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-padding: 4;
}
.tool-bar {
    -fx-background-color: #ddf2ff;
}
.toolbutton {
    -fx-background-color: #eeeeee;
    -fx-min-width: 44;
    -fx-min-height: 32;
    -fx-padding: 5 11 5 11;
}
.toolbutton:selected, .toolbutton:selected:hover {
    -fx-background-color: #c8c8c8;
}
.formatbutton {
    -fx-background-color: white;
    -fx-min-width: 45;
    -fx-min-height: 25;
    -fx-padding: 5 11 5 11;
}
.menubutton {
    -fx-background-color: #ddf2ff;
    -fx-padding: 5 11 5 11;
}
.menuitem {
    -fx-background-color: #fefefe;
    -fx-padding: 8 5 8 5;
    -fx-font-family: "San Francisco", "Segoe UI Regular", Tahoma, sans-serif;
}
.menuicon {
    -fx-background-color: #fefefe;
    -fx-padding: 5 11 5 11;
}
.menubutton:hover, menuitem:hover, menuicon:hover {
    -fx-background-color: #d0e4f0;
}
.togglebuttons {
    -fx-background-color: white;
    -fx-min-width: 45;
    -fx-min-height: 25;
    -fx-padding: 5 11 5 11;
}
.togglebuttons:selected, .togglebuttons:selected:hover {
    -fx-background-color: 
        linear-gradient(to top, rgb(195.0, 195.0, 195.0), rgb(125.0, 125.0, 125.0));
}

/**
 * Light theme control styles
 */

.combo-box-base {
    -fx-background-color: white;
    -fx-padding: 0.0835em; /* 2 */
    -fx-height: 1.35em;
}
.combo-box-base:hover {
    -fx-background-color: white;
}
.combo-box-base .arrow-button {
    -fx-background-color: #eeeeee;
}
.combo-box-popup .list-view .list-cell {
    -fx-background-color: #fefefe;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #4860e0;
    -fx-text-fill: white;
}
.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #ddf2ff;
    -fx-text-fill: black;
}
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #4860e0;
    -fx-text-fill: white;
}
.color-picker, .color-picker:focused, .color-picker:selected {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
.color-picker > .color-picker-label > .picker-color > .picker-color-rect {
    -fx-stroke: none;
}
.combo-box-popup .list-view, .color-palette , .custom-color-dialog {
    -fx-background-color:
        linear-gradient(to bottom,
            derive(#f3f3f3,-17%),
            derive(#f3f3f3,-30%)
        ),
        #fefefe;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}
.custom-color-dialog .controls-pane .customcolor-controls-background {
    -fx-background-color: white;
}
.progress-bar {
    -fx-background-insets: 0, 1;
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
    -fx-pref-height: 20;
}
.progress-bar > .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(#0096c9,95%), derive(#0096c9,10%)),
        linear-gradient(to bottom, derive(#0096c9,38%), #0096c9);
    -fx-background-radius: 0;
    -fx-background-insets: 1;
}
.progress-bar:indeterminate > .bar {
    -fx-background-color: linear-gradient(to left, transparent, #0096c9);
}
.progress-bar > .track {
    -fx-background-color: #fefefe;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/**
 * Light theme svg styles
 */

.svgPath {
    -fx-stroke: black;
    -fx-stroke-width: 1.75;
}
.svgThinPath {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.svgFill {
    -fx-fill: black;
}
.svgFillPath {
    -fx-stroke: black;
    -fx-stroke-width: 1.75;
    -fx-fill: black;
}

/**
 * Tool button styles
 */

#buttnewcanvas {
    /*
    -fx-background-image: url('../images/new-canvas.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#buttopenin {
    /*
    -fx-background-image: url('../images/open-in.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#buttsaveto {
    /*
    -fx-background-image: url('../images/save-to.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#buttselect {
    /*
    -fx-background-image: url('../images/select.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttrotate {
    /*
    -fx-background-image: url('../images/rotate.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#buttslope {
    /*
    -fx-background-image: url('../images/slope.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#buttcircle {
    /*
    -fx-background-image: url('../images/circle.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#buttsquare {
    /*
    -fx-background-image: url('../images/square.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#butttriangle {
    /*
    -fx-background-image: url('../images/triangle.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#buttpolygon {
    /*
    -fx-background-image: url('../images/polygon.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#buttsketch {
    /*
    -fx-background-image: url('../images/sketch.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
}
#butttext {
    /*
    -fx-background-image: url('../images/text.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#butthamburger {
    /*
    -fx-background-image: url('../images/menu.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttbold {
    /*
    -fx-background-image: url('../images/bold.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttitalic {
    /*
    -fx-background-image: url('../images/italic.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttunderlined {
    /*
    -fx-background-image: url('../images/underlined.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttvertical {
    -fx-background-image: url('../images/perpendicular.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttwireframe {
    /*
    -fx-background-image: url('../images/wireframe.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttsnapshot {
    /*
    -fx-background-image: url('../images/snapshot.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttsaveas {
    /*
    -fx-background-image: url('../images/save-as.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttsvgexport {
    /*
    -fx-background-image: url('../images/export-options-1.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttpdfexport {
    /*
    -fx-background-image: url('../images/export-options-2.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttpngexport {
    /*
    -fx-background-image: url('../images/export-options-3.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttquitapp {
    /*
    -fx-background-image: url('../images/power.png');
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
